body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  width: 100%;
  box-sizing: border-box;
  height: 80px;
}
.logo img {
  width: 100px;
  height: 100px;
  float: left;
  padding: 50px;
}

header nav {
  padding: 15px 20px 0 0;
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: white;
  text-decoration: none;
}
header nav ul li a:hover {
  color: yellow;

  font-size: 20px;
  transition: 0.2s;
}
header nav ul li a.active {
  color: yellow;
  font-size: 20px;
}
.menu-toggle {
  color: #fff;
  float: right;
  line-height: 50px;
  font-size: 24px;
  cursor: pointer;
  display: none;
  padding: 15px 20px 0 0;
  z-index: 1;
}
.menu-toggle:hover {
  color: yellow;
  font-size: 26px;
  transition: 0.2s;
}

.bg-img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("img/3.jpg");
}
.inner {
  position: absolute;
  color: yellow;
  top: 25%;
  left: 50px;
  font-size: 45px;
}
.inner span {
  color: #fff;
}
.content p {
  font-size: 20px;
  top: 0;
}
.btn1 {
  position: absolute;
  width: 25%;
  height: 15%;
  font-size: 20px;
  background: yellow;
  border: none;
  font-weight: bold;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.2s;
}
.btn1:hover {
  background: #000;
  color: yellow;
  border: 1px solid yellow;
}
@media screen and (max-width: 1100px) {
}

@media screen and (max-width: 1000px) {
  header .logo {
    font-size: 35px;
  }
  .inner {
    font-size: 35px;
  }
  .content p {
    font-size: 15px;
  }
  .bg-img {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("img/5.jpg");
  }
}
@media screen and (max-width: 768px) {
  header nav.active {
    left: 0;
  }
  header .logo {
    font-size: 30px;
  }
  .menu-toggle {
    display: block;
    position: relative;
  }
  .nav {
    position: absolute;
    width: 30%;
    height: 100vh;
    background: #000;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    opacity: 0.7;
    font-weight: bold;
  }
  header nav ul {
    display: block;
    padding-top: 50px;
    text-align: center;
  }
  header nav ul li a {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .inner {
    font-size: 30px;
  }
  .content p {
    font-size: 10px;
  }
  .btn1 {
    font-size: 15px;
  }
}
@media screen and (max-width: 420px) {
  body {
    overflow: hidden;
  }
  .inner {
    font-size: 15px;
  }
  .content p {
    font-size: 10px;
  }
  .btn1 {
    font-size: 10px;
  }
  header nav ul {
    font-size: 10px;
  }
  .logo img {
    width: 80px;
    height: 80px;
  }
}
.nav-active {
  transform: translateX(0%);
  z-index: 1;
}
